*.a
*.o
*.obj
*.bin
*.exe
*.lib
*.dll
*.suo
*~*
thumbs.db
*.layout
*.db
*.ipch
*.pch
*.pdb
*.ilk
*.iobj
*.idb
Release
Debug
bin
obj
*.log
lib
*.user
packages
*.sdf
*.vs
*.codeanalysis
*.codeanalysiast
*.vcxproj.user
*.psess
*.vspx
*.aps
*.lastbuildstate
*.res
*.user
*.tlog
*.opendb
*.7z
*._generated.h
*.fb
